@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', 'NanumSquare', sans-serif;
}
/*
input, textarea, button, select {
    font-family: 'Raleway', 'NanumSquare', sans-serif;
}
*/

.pf-list-btn {
    position: fixed;
    top: 100px;
    right: 1px;
    padding: 5px 17px 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    z-index: 10;
}
.pf-list-btn:visited {
    color: rgba(180,180,180,100);
}
.pf-list-btn:hover {
    text-decoration: underline;
}
.pf-list-btn > span {
    position: relative;
}
.pf-list-btn::before {
    content: '';
    position: absolute;
    left: 0;
    right: -1px;
    bottom: 0;
    height: 15px;
    background-color: rgba(200,200,200,.4);
}

/*
{
    position: fixed;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1000;
    width: 40px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    font-family: 'Raleway', sans-serif;
 }
*/




img {
    max-width: 100%;
}

.video-container {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}
.video-wrap {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-desc {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'NanumSquare', sans-serif;
/* 자간, 행간 */
    letter-spacing: .05em;
    line-height: 2;
    color: #888;cc
}
.resizer-iframe {
    width: 100%;
    height: 100vh;
}
.video-p {
    text-align: left;
}

.tablet, 
.desktop {
    display: none;
}

/* 포스터 상세페이지 */
.poster--1 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster1-img {
    border: 1px solid rgba(230, 230, 230,.5);
/*    box-shadow(0 0 10px rgba(0,0,0,.5);)*/
}
.poster--2 {
    width: 400px;
    margin-left: 50%;
}
.poster--3 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster--4 {
    width: 400px;
    margin-left: 50%;
}
.poster4-img {
    border: 1px solid rgba(230, 230, 230,.5);
}
.poster--5 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster--6 {
    width: 400px;
    margin-left: 50%;
}
.poster--7 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster7-img {
    border: 1px solid rgba(230, 230, 230,.5);
}
.poster--8 {
    width: 400px;
    margin-left: 50%;
}
.poster--9 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster--10 {
    width: 400px;
    margin-left: 50%;
}
.poster--11 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster--12 {
    width: 400px;
    margin-left: 50%;
}
.poster12-img {
    border: 1px solid rgba(230, 230, 230,.5);
}
.poster--13 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster--14 {
    width: 200px;
    margin-left: 55%;
}
.poster--15 {
    width: 800px;
    margin-left: 15%;
    padding: 40px;
}
.poster15-img {
    border: 1px solid rgba(230, 230, 230,.5);
}
.poster--16 {
    width: 200px;
    margin-left: 50%;
}
.poster--17 {
    width: 600px;
    margin-left: 15%;
    padding: 40px;
}
.poster--18 {
    width: 400px;
    margin-left: 50%;
}
.poster--19 {
    width: 200px;
    margin-left: 25%;
    padding: 40px;
}
.poster--20 {
    width: 400px;
    margin-left: 50%;
}
.poster--21 {
    width: 400px;
    margin-left: 15%;
    padding: 40px;
}
.poster21-img {
    border: 1px solid rgba(230, 230, 230,.5);
}
.poster-row {
    display: block;
}
.cont {
    font-size: 16px;
    color: #888;
}

/* 일러스트 상세페이지 */
.illust--1 {
    width: 500px;
    margin-left: 15%;
    padding: 40px;
}
.illust--2 {
    width: 600px;
    margin-left: 50%;
}
.illust--3 {
    width: 400px;
    margin-left: 15%;
}
.illust--4 {
    width: 600px;
    margin-left: 50%;
}
.illust--5 {
    width: 400px;
    margin-left: 15%;
}
.illust--6 {
    width: 600px;
    margin-left: 60%;
}
.illust--7 {
    width: 400px;
    margin-left: 15%;
}
.illust--8 {
    width: 600px;
    margin-left: 60%;
}
.illust--9 {
    width: 400px;
    margin-left: 15%;
}
.illust--10 {
    width: 600px;
    margin-left: 60%;
}
.illust--11 {
    width: 400px;
    margin-left: 15%;
}
.illust--12 {
    width: 600px;
    margin-left: 60%;
}
.illust--13 {
    width: 400px;
    margin-left: 15%;
}
.illust--14 {
    width: 900px;
    margin-left: 40%;
}
.illust--15 {
    width: 800px;
    margin-left: 15%;
}
.illust--16 {
    width: 600px;
    margin-left: 50%;
}
.illust--22 {
    width: 100%;
/*
    max-width: 600px;
    text-align: center;
*/
}
.illust-row {
    display: block;
}
.illust-item {
    padding: 50px 0px 50px;
}
.cont {
    font-size: 16px;
    color: #888;
}
.swiper-container2 {
    width: 100%;
    text-align: center;
/*  height: 100vh;*/
}
        
.swiper-button-prev2 {
    background-image: url(../image/slider_left.png);
}
.swiper-button-next2 {
    background-image: url(../image/slider_right.png);
}


/* 앨범아트 상세페이지 */
.album-art {
    position: relative;
}
.album-art .list {}
.album-art .album-play {
    position: absolute;
    left: 18.8%;
    top: 61.7%;
    width: 11%;
    padding: 10.1%;
}
.album-art .album-play img {}

/* web2 반응형 웹 resizer */
.resizer {
    width: 100%;
    height: 68vh;
    padding-top: 160px;
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
.resizer .device {
    position: absolute;
    bottom: 100px;
    border-style: solid;
    transform: scale(.5);
}
.resizer .device.size-desktop {
    border-color: #555;
    width: 1920px;
    height: 1080px;
    border-width: 28px 28px;
    border-radius: 14px;
    transform-origin: 0 bottom;
    left: 40px;
}
.resizer .device.size-desktop::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: -100px;
    right: -100px;
    height: 38px;
    border-bottom-left-radius: 14px;
    background: #555;
}
.resizer .device.size-tablet {
    border-color: #777;
    left: 477px;
    width: 760px;
    height: 980px;
    border-width: 34px 16px;
    border-radius: 24px;
    transform-origin: center bottom;
}
.resizer .device.size-mobile {
    border-color: #999;
    left: 860px;
    width: 360px;
    height: 670px;
    border-width: 34px 10px;
    border-radius: 24px;
    transform-origin: right bottom;
}
.resizer .frame-wrap {
    width: 100%;
    height: 100%;
}
.resizer .frame-wrap iframe {
    width: 100%;
    height: 100%;
}
.go-web2 {
    color: #8888;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 160px;
    text-decoration: none;
}
.go-web2:hover {
    text-decoration: line-through;
}
.text-cont {
    color: #999;
}
.resizer-text {
    text-align: center;
}
.mobile img, 
.tablet img, 
.desktop img {
  width: 100%;
}

@media (min-width: 45em) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
}

@media (min-width: 60em) {
    .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/* web3 slide */
.web3-cont {
    text-align: center;
    color: #999;
}
    .swiper-container {
        width: 100%;
/*      height: 100vh;*/
    }
        
    .swiper-button-prev {
      background-image: url(../image/slider_left.png);
/*      height: 100px;*/
    }
    .swiper-button-next {
      background-image: url(../image/slider_right.png);
    }

/* 비디오 페이지 */
.vide h1 {
    text-align: center;
}